<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav"
            aria-controls="offcanvasNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="text-light ms-auto" id="currentDate"></span>
        <span class="mr-2 d-none d-lg-inline text-gray-600 small float-sm-end">
            <%= day %>
        </span>
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
            <%= date %>
        </span>
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
            <%= month %>
        </span>
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
            <%= year %>
        </span>
    </div>
</nav>