

<% if(userActive == false){ %>
    <%- include('../partials/openNav') %>
    <% } else{ %> 
      <%- include('../user/partials/navbar') %>
      <% } %>


      <main class="main">
    
    <div class="container mt-4">
          <%- include ('../partials/messages') %>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2>KYC form</h2>

            <form action="/drivers/kyc-submit" method="POST" enctype="multipart/form-data">
                <!-- Company Information -->
                <h4 class="form-title">Legal Information</h4>
               <!-- CAC Business Number Field (Always Visible) -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="businessNumber">Enter CAC Business Number</label>
                            <input type="text" class="form-control" id="businessNumber" name="businessNumber" placeholder="Enter CAC Business Number">
                        </div>
                    </div>
                    <!-- Upload for CAC Certificate -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="cacDocument">Upload CAC Certificate</label>
                            <input type="file" class="form-control-file" id="cacDocument" name="cacDocument">
                        </div>
                    </div>
                </div>

<hr>

<!-- Dropdown to select other types of identification -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="idType">Select Identification Type</label>
                        <select class="form-control" id="idType" name="idType" onchange="showIDFields()">
                            <option value="">Select ID Type</option>
                            <option value="nin">NIN Number</option>
                            <option value="passport">International Passport</option>
                            <option value="voter">Voter's Card Number</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- NIN Number Field (Hidden by Default) -->
            <div class="row" id="ninField" style="display:none;">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="ninNumber" name="ninNumber" placeholder="Enter NIN Number">
                    </div>
                </div>
                <!-- Upload for NIN Document -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="ninDocument">Upload NIN Document</label>
                        <input type="file" class="form-control-file" id="ninDocument" name="ninDocument">
                    </div>
                </div>
            </div>

<!-- International Passport Field (Hidden by Default) -->
                    <div class="row" id="passportField" style="display:none;">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="passportNumber" name="passportNumber" placeholder="Enter Passport Number">
                            </div>
                        </div>
                        <!-- Upload for Passport -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="passportDocument">Upload Passport Document</label>
                                <input type="file" class="form-control-file" id="passportDocument" name="passportDocument">
                            </div>
                        </div>
                    </div>

<!-- Voter's Card Field (Hidden by Default) -->
                    <div class="row" id="voterField" style="display:none;">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="voterNumber" name="voterNumber" placeholder="Enter Voter's Card Number">
                            </div>
                        </div>
                        <!-- Upload for Voter's Card -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="voterDocument">Upload Voter's Card</label>
                                <input type="file" class="form-control-file" id="voterDocument" name="voterDocument">
                            </div>
                        </div>
                    </div>



           
                <br>
                <br>
                <br>
            
                <!-- Submit Button -->
                <button type="submit" class="btn btn-secondary w-100">Submit</button>
            </form>
            
    </div>
</div>

<br>
<br>
<br>
<br>

<%- include ('../partials/openFooter')%>

</main>

<script>
    function showIDFields() {
        // Hide all other fields initially
        document.getElementById('ninField').style.display = 'none';
        document.getElementById('passportField').style.display = 'none';
        document.getElementById('voterField').style.display = 'none';

        // Get selected ID type
        var idType = document.getElementById('idType').value;

        // Show the appropriate field based on selection
        if (idType === 'nin') {
            document.getElementById('ninField').style.display = 'block';
        } else if (idType === 'passport') {
            document.getElementById('passportField').style.display = 'block';
        } else if (idType === 'voter') {
            document.getElementById('voterField').style.display = 'block';
        }
    }
</script>