



<div class="container container-fluid container-xl">
	<nav class="my-navbar ">
	  <div class="my-nav-left">
		<!-- Sidebar toggle button (visible on mobile view) -->
		<button class="my-nav-toggle" id="my-navToggle">&#9776;</button>
		<a href="/" class="my-logo"><img src="/images/logo.png" alt="logo image"></a>
	  </div>

	  <!-- Sidebar links (will appear on toggle in mobile view) -->
	  <ul class="my-nav-links my-nav-links-mobile" id="my-navLinks">
		<button class="my-close-btn" id="my-closeBtn">&times;</button>
		<hr>
        <p>useful Links</p>
        <li><a  href="/featured-services"> Services</a></li>
        <li><a  href="/faq">FAQs</a></li>
        <li><a  href="/contact">Contacts</a></li>
  
	  </ul>
	</nav>
  </div>
  
  
  <br>
  <br>
  <br>