



<div class="container container-fluid container-xl">
	<nav class="my-navbar ">
	  <div class="my-nav-left">
		<!-- Sidebar toggle button (visible on mobile view) -->
		<button class="my-nav-toggle" id="my-navToggle">&#9776;</button>
		<a href="/" class="my-logo"><img src="/images/logo.png" alt="logo image"></a>
	  </div>

	  <!-- Sidebar links (will appear on toggle in mobile view) -->
	  <ul class="my-nav-links my-nav-links-mobile" id="my-navLinks">
		<button class="my-close-btn" id="my-closeBtn">&times;</button>
		<li><a href="#"><i class="fas fa-user"></i> Profile</a></li>
		<li><a href="#"><i class="fas fa-shopping-cart"></i> shop</a></li>
		<li><a href="#"><i class="fas fa-user"></i> settings</a></li>
  
		<li><a href="#"><i class="fas fa-user"></i> </a></li>
		<li><a href="#"><i class="fas fa-shopping-cart"></i> </a></li>
		<li><a href="/user" class="">Showcase</a></li>
		<li><a href="/user/profile"> Profile</a></li>
		<li><a  href="/user/search"> Search</a></li>
		<li><a  href="/user/orders"> My Orders</a></li>
  
	  </ul>
	</nav>
  </div>
  
  
  <br>
  <br>
  <br>