<footer class="sticky-footer " >
  <div class="container my-auto">
      <div class="copyright text-center my-auto">
          <span>Copyright &copy; adarikumiachael.com 2020</span><br>
          <span class="mt-4">email - adarikumiachael.com 2020</span>
      </div>
  </div>
</footer> 



