



<footer id="footer" class="footer position-relative">
  
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-6 footer-about">
        <a href="/" class="logo d-flex align-items-center">
          <%- include ('./appLogo') %>
        </a>
        <div class="footer-contact pt-3">
          <p><strong>Phone:</strong> <span>+234 916 020 9475</span></p>
          <p><strong>Email:</strong> <span><%- include ('./appEmail') %></span></p>
          <p> <strong>Address:</strong>  Cross River, Calabar </p>
        </div>
        <div class="social-links d-flex mt-4">
          <!-- <a href=""><i class="bi bi-twitter-x"></i></a> -->
          <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
          <a target="_blank" href="#"><i class="bi bi-instagram"></i></a>
          <a target="_blank" href="https://whatsapp.com/channel/0029VaeDMo0CBtx5rZAITi33"><i class="bi bi-whatsapp"></i></a>
          <!-- <a href=""><i class="bi bi-linkedin"></i></a> -->
        </div>
      </div>

      <div class="col-lg-3 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/abouts">About us</a></li>
          <li><a href="/featured-services">Services</a></li>
          <li><a href="/terms">Terms of service</a></li>
          <li><a href="/policy">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-3 footer-links">
        <h4>Career x</h4>
        <ul>
          <li><a href="/new-rider">Become a rider</a></li>
          <li><a href="/new-vendor">Become A vendor</a></li>
          <li><a href="/valid-location">Areas we cover</a></li>
        </ul>
      </div>



      <div class="col-lg-3 col-md-12 footer-newsletter">
        <h4>Our Newsletter</h4>
        <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
        <form action="forms/newsletter" method="post" class="">
          <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your subscription request has been sent. Thank you!</div>
        </form>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Strobetech.com</strong><span>All Rights Reserved</span></p>
    <div class="credits">
   
    </div>
  </div>

</footer>