

  <div class="help-box d-flex flex-column justify-content-center align-items-center my-box-shadow">
    <p class="d-flex align-items-center mt-2 mb-0"> &ldquo;<%= dailyQuote.quoteText%>&rdquo;</p>
    <p class="d-flex align-items-center mt-1 mb-0">— <%= dailyQuote.quoteAuthor%></p>
  </div> 