<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNavLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavLabel"><a class="navbar-brand" href="/super">Dashboard</a></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    

    <li class="nav-item">
      <a class="nav-link text-dark collapsed" href="/super/all-inventory">
        <i class="fas fa-boxes"></i> Inventory
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark collapsed" href="/super/all-products">
        <i class="fas fa-boxes"></i> Shelf item
      </a>
    </li>
  <!-- Nav Item - Employees -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/super/all-employees">
      <i class="fas fa-users"></i> Employees
    </a>
  </li>

  <!-- Nav Item - Discounts -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/super/all-discounts">
      <i class="fas fa-percent"></i> Discounts
    </a>
  </li>

  <!-- Nav Item - Sales -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/super/all-sales">
      <i class="fas fa-chart-line"></i> All Sales
    </a>
  </li>

  <!-- Nav Item - Damaged -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/super/all-damaged">
      <i class="fas fa-exclamation-triangle"></i> Damaged
    </a>
  </li>

  <!-- Nav Item - Logistics -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/super/all-logistics-drivers">
      <i class="fas fa-truck"></i> Our Logistics Dept
    </a>
  </li>

  <!-- Nav Item - Customers -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/super/all-customers">
      <i class="fas fa-user-friends"></i> Customers
    </a>
  </li>

  <!-- Nav Item - Categories -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/super/all-categories">
      <i class="fas fa-list"></i> Categories
    </a>
  </li>

  <!-- Nav Item - Positions -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/super/all-positions">
      <i class="fas fa-user-tag"></i> Position
    </a>
  </li>

  <!-- Nav Item - Transactions -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/super/all-transactions">
      <i class="fas fa-receipt"></i> Transactions
    </a>
  </li>

  <!-- Nav Item - Stores -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/super/all-stores">
      <i class="fas fa-store"></i> Stores
    </a>
  </li>


  <!-- Nav Item - Logout -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/logout">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </li>



  </div>
</div>