<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler ml-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav"
        aria-controls="offcanvasNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/super"><%- include ('./appLogo') %></a>

        <span class="text-light ms-auto mr-3" id="currentDate"></span> 
        <span class="mr-2 d-none d-lg-inline text-gray-600 small float-sm-end">
            <%= day %>
        </span>
     


    </div>
</nav>