

<%- include('./partials/openNav') %>

<div class="page-header">
  <div class=" text-center ">
      <h5 class="text-uppercase">Services</h5>
  </div>
</div>

         <!-- Featured Services Section -->
         <section id="featured-services" class="featured-services section">
            <div class="container">
              <div class="row gy-4">
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-cart"></i></div>
                    <div>
                      <h4 class="title">Seamless Shopping Experience</h4>
                      <p class="description">
                        Browse a wide range of products from various categories.
                        Easy-to-use search and filter options to quickly find what you need.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Service Item -->
      
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-truck"></i></div>
                    <div>
                      <h4 class="title">Efficient Delivery Services</h4>
                      <p class="description">
                        Fast and reliable delivery of items bought.
                        Real-time tracking of your orders from dispatch to delivery, including same-day 
                      </p>
                    </div>
                  </div>
                </div><!-- End Service Item -->
      
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
                  <div class="service-item d-flex">
                    <!-- <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div> -->
                    <div class="icon flex-shrink-0"><i class="bi bi-tag"></i></div>
                    
                    <div>
                      <h4 class="title">Promotions and Discounts</h4>
                      <p class="description">
                        Regular promotions, discounts, and exclusive deals for app users.
                        Loyalty programs and reward points for frequent shoppers.
                      </p>
                    </div>
                  </div>
                </div><!-- End Service Item -->
    
    
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-shield-lock"></i></div>
                    
                    <div>
                      <h4 class="title">Secure Payment Options</h4>
                      <p class="description">
                        Multiple payment methods including credit/debit cards, digital wallets, and cash on delivery.
                        Secure transactions with encryption and fraud detection.
                      </p>
                    </div>
                  </div>
                </div><!-- End Service Item -->
    
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="service-item d-flex">
                    <!-- <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div> -->
                    <div class="icon flex-shrink-0"><i class="bi bi-box-seam"></i></div>
                    
                    <div>
                      <h4 class="title">Logistics Services</h4>
                      <p class="description">
                        we understand that timely and reliable delivery is critical to your business operations.
                         Our logistics services are designed to ensure that your goods reach their destination safely, on time, and in perfect condition.
                      </p>
                    </div>
                  </div>
                </div><!-- End Service Item -->
    
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
                  <div class="service-item d-flex">
                    <!-- <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div> -->
                    <div class="icon flex-shrink-0"><i class="bi bi-check-circle"></i></div>
                    
                    <div>
                      <h4 class="title">User-Friendly Interface</h4>
                      <p class="description">Intuitive and clean design for a smooth user experience.
                        - Easy account management with order history and preferences.</p>
                    </div>
                  </div>
                </div><!-- End Service Item -->
              </div>
            </div>
          </section><!-- /Featured Services Section -->

  <%- include ('./partials/openFooter')%>
  
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
