
<%- include('./partials/authNav') %>


<div class="m-card">
    <div class="container">
        <%- include ('./partials/messages') %>
        <div class="p-1">
            <form action="/auth/forget" method="post" onsubmit="return validateForgetForm()">
                <div class="form-group">
                    <input type="email" class="form-control mt-2 bg-transparent text-dark" placeholder="Enter Email" name="email" id="email">
                    <div class="text-danger" id="emailError"></div>
                </div>

                <button class="my-btn mt-2 m-0" style="width: 100%;" type="submit">Request Email</button>
            </form>

            <div class="mt-2">
                <p class="m-0">Remember account password? <a href="/login">Login</a></p>
            </div>
        </div>
    </div>
</div>

<script>
    function validateForgetForm() {
        const email = document.getElementById('email').value;
        const emailError = document.getElementById('emailError');
        let isValid = true;

        // Reset error message
        emailError.textContent = '';

        // Email validation check
        if (email === '') {
            emailError.textContent = 'Please enter your email address.';
            isValid = false;
        } else if (!validateEmail(email)) {
            emailError.textContent = 'Please enter a valid email address.';
            isValid = false;
        }

        return isValid;
    }

    function validateEmail(email) {
        const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return regex.test(email);
    }
</script>
