

<%- include('./partials/navbar') %>
<div class="container ">
<%- include ('../partials/messages') %>


		   <a class="back-btn" href="/user/user-details"><i class="bi bi-arrow-left-circle"></i> Back</a>
	
             
		<div class="row justify-content-center">
			<div class="col-lg-6 col-xl-6 col-xxl-4">


					<div class=" border-1  m-3">
						
						<div class="card-body p-4" style="margin-top: 50px;" >

							<form action="/user/reset-phone" method="post">
								<div class="form-group">
									<input type="phone" class="form-control mt-2 bg-transparent text-dark" placeholder="Enter Old phone" name="oldPhone">
								</div>
								<div class="form-group">
									<input type="phone" class="form-control mt-2 bg-transparent text-dark" placeholder="Enter New phone" name="newPhone">
								</div>
			
								<button class=" my-btn mt-2 m-0 " style="width: 100%;" type="submit">Reset Phone</button>
							</form>

						</div>

					</div>


			</div>
		</div>

<br>
<br>
</div>
		
