
    <style>
        .success-page {
            margin-top: 150px;
            text-align: center;
            padding: 50px;
            box-shadow: 0 3px 3px -5px, 0 2px 5px #0000000f;
        }


        .success-message {
            font-size: 24px;
            margin-top: 20px;
            margin-bottom: 4px;
            color: #333;
        }

        .success-icon {
            font-size: 60px;
            color: #28a745;
        }


        .order-button:hover {
            background-color: #0056b3;
        }
    </style>


<%- include('./partials/navbar') %>



    <div class="container success-page  ">
        <div class="success-icon">
            <i class="fas fa-check-circle"></i> <!-- You can also use an image -->
        </div>
        <p class="success-message m-0" style="color: var(--accent-color);">Your payment was successful!</p>
        <p class="m-0" style="color: var(--accent-color);"><%=cashback%> NGN earned!</p>

        <p>your confirmation code is <span class="text-danger"><%=PIN%></span></p>
        <div class=" d-flex justify-content-center align-items-center">

            <a class="my-btn my-btn-outline d-block mr-2" href="/user/invoice/<%=saleId%>" >View Order Invoice</a>
            <a class="my-btn my-btn-outline d-block" href="/user" >Go Back To Store</a>
        </div>
    </div>

