<div class="page-title" >
    <div class=" banner-section ">
      <div class="col-md-4 col-lg-3 col-xl-4 ads-banner"  data-aos="fade-up" data-aos-delay="100">
        <a href="#"><img src="/images/banner-1.png" alt=""></a>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-4 ads-banner" data-aos="fade-up" data-aos-delay="200">
        <a href="#"><img src="/images/banner-1.png" alt=""></a>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-4 ads-banner" data-aos="fade-up" data-aos-delay="300">
        <a href="#"><img src="/images/banner-1.png" alt=""></a>
      </div>
    </div>
  </div><!-- End Page adverts -->