<div class="help-box d-flex flex-column justify-content-center align-items-center my-box-shadow">
    <i class="bi bi-headset help-icon"></i>
    <h4>Have a Question?</h4>
    <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+234 9160209475</span></p>
    <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:contact@example.com">adarikumichael@gmail.com</a></p>
  </div> 