
<!-- Transparent Navbar -->
<nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
	<div class="container">
	  <!-- Toggler and logo in the same div to avoid flex spacing issues -->
	  <div class="navbar-toggler-logo">
		<!-- Navbar Toggler (Hamburger) -->
		<button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon light-toggle "></span>
		</button>
		<!-- Brand/Logo -->

		<a class="navbar-brand text-light" href="/"><img src="/images/logo.png" alt="logo"></a>
	  </div>
  
	  <!-- Navbar items visible on larger screens -->
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
		  <!-- Additional links can be added here if needed -->
		</ul>
	  </div>

	  <!-- Navbar icons for search, cart, and profile (always visible) -->
	  <div class="navbar-icons ">
		<a href="/user/search" class="nav-link ">
			<i class="fas fa-search icon-size"></i>
		</a>
		<a href="/user/fetchCart" class="nav-link position-relative">
			<i class="fas fa-shopping-cart icon-size"></i>
			<span id="cart-badge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning cart-badge"></span>
		</a>
		<a href="/user/profile" class="nav-link">
			<i class="fas fa-user icon-size"></i>
		</a>
	  </div>
	</div>
</nav>

<!-- Offcanvas Navbar for smaller screens -->
<div class="offcanvas offcanvas-start offcanvas-fullscreen" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
	<div class="offcanvas-header">
	  <button type="button" class="btn-close text-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="my-nav-links my-nav-links-mobile" id="my-navLinks">
			
			<p>Categories</p>
			<% allCategory.forEach(data => { %>
				<li>
				  <a href="/user/category/<%= data.Category_name %>#product-section" class="categoryButton nav-link text-dark" data-category="<%= data.Category_name %>">
					<i class="bi bi-arrow-right-circle"></i><span> <%= data.Category_name %></span>
				  </a>
				</li>
			<% }); %>

			<hr>
			
			<p>User Links</p>
			<li><a class="nav-link text-dark" href="/user" >Store Items</a></li>
			<li><a class="nav-link text-dark" href="/user/orders">My Orders</a></li>
			<li><a class="nav-link text-dark" href="/user/wishlist">My Wishlist</a></li>
			<li><a class="nav-link text-dark" href="/user/profile">Profile</a></li>
			
			<hr>
			<p>Useful Links</p>
			<li><a class="nav-link text-dark" href="/featured-services">Services</a></li>
			<li><a class="nav-link text-dark" href="/faq">FAQs</a></li>
			<li><a class="nav-link text-dark" href="/contact">Contacts</a></li>

			<hr>
			<p>Actions</p>
			<li><a class="nav-link text-dark" href="/logout">Logout</a></li>
		</ul>
	</div>
</div>

<!-- <br><br><br><br> -->
