

<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="/" class="logo d-flex align-items-center me-auto">
      <img src="/images/logo.png" alt="logo image">
    </a>

    <nav id="navmenu" class="navmenu mr-4">
      <ul>
        <li><a href="/user" class="">Shop Items</a></li>
        <li><a href="/user/profile"> Profile</a></li>
        <li><a  href="/user/search"> Search</a></li>

        <li>|</li>
        <li class=""><a  href="/drivers/new-rider" class="" > Riders</a></li>
        <li class=""><a  href="/" class="" > Advertise</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
    <a class="btn btn-outline-primary position-relative" id=""  href="/user/fetchCart">
      <i class="fas fa-shopping-cart "></i>
      <span id="cart-badge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"></span>
      
    </a>


  </div>
</header>