<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNavLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavLabel"><a class="navbar-brand" href="/drivers">Dashboard</a></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    
  <!-- Nav Item - Employees -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/logistics">
      <i class="fas fa-home"></i> Home
    </a>
  </li>

  <!-- Nav Item - Discounts -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/logistics/all-deliveries">
      <i class="fas fa-fw fa-truck"></i> Pending Deliveries
    </a>
  </li>


<hr>
 

  <!-- Nav Item - Logout -->
  <li class="nav-item">
    <a class="nav-link text-dark collapsed" href="/logout">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </li>



  </div>
</div>