<%- include ('./logisticsTopbar') %>

  <%- include ('./logisticsSidebar') %>

          <div class="container-fluid">
            <%- include ('../partials/messages') %>

                <div style="display: flex;justify-content: center;align-items: center;margin: auto;margin-top: 200px;">
                  <img style="max-width: 100px; max-height: 100px" src="/images/delivery-truck.png" class=" rounded-4" alt="images" />
                </div>

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <!-- End of Footer -->
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />

          <br />
        <%- include ('../partials/footer') %>

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>